name: Deploy

on:
  workflow_run:
    workflows: [Run Tests]
    types:
      - completed
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: mirea-queue

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Queue app
        uses: docker/build-push-action@v5
        with:
          file: ./cmd/queue/Dockerfile
          context: .
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/mirea-queue:latest

      - name: Build and push Cron
        uses: docker/build-push-action@v5
        with:
          file: ./cmd/clear-queue/Dockerfile
          context: .
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/mirea-queue-cron:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    environment: mirea-queue
    steps:
      - name: Deploy on server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          port: ${{ secrets.SSH_PORT }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          key: ${{ secrets.SSH_KEY }}
          passphrase: ${{ secrets.SSH_PASSPHRASE }}
          script: |
            cd ${{ vars.SERVER_BOT_PATH }}
            docker compose down
            docker compose pull
            docker compose up -d
            docker image prune -f
